<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']">Sobre mi</a></li>
    <li><a [routerLink]="['/proyecto']">Proyectos</a></li>
    <li class="logo"><a href="#">S.A.M.S</a></li>
    <li><a [routerLink]="['/crear-proyecto']">Creacion de proyecto</a></li>
    <li><a [routerLink]="['/contacto']">Contactame</a></li>
  </ul>
</header>




<!-- Para acceder al routeo mediante el link -->
<section id="section">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en Js de Sergio A. Marin Sarmiento &copy;
</footer>
