<!-- <h1>Proyecto Angular-MEAN</h1> -->
<header>
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
    <li><a [routerLink]="['/proyecto']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li class="logo" id="logo"><a href="#" [routerLinkActive]="['actived']">S.A.M.S</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Creacion de proyecto</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contactame</a></li>
  </ul>
</header>


<!-- Para acceder al routeo mediante el link -->
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en Js de Sergio A. Marin Sarmiento &copy;
</footer>
