<!--Creacion del titulo-->
<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <h3>{{email}}</h3>
</div>


<article class="about">
  <h2>Sobre mi</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vivamus non pharetra nisi, ac vestibulum nunc.
    Nam mollis nulla a tellus volutpat, non gravida enim elementum.
    Ut id consequat nibh. Nam eget fermentum mauris, et consectetur tellus.
    Phasellus vitae ligula leo. Nam viverra massa non facilisis rhoncus.
    Mauris vestibulum diam eget lectus convallis eleifend.
    Cras congue tortor neque, in pharetra libero laoreet vel.
    Morbi enim est, fringilla vel fringilla sit amet, rutrum ultricies est.
    Vivamus tristique ipsum sit amet diam finibus elementum sed sit amet urna.
    In lobortis varius sodales. Sed faucibus cursus erat at egestas.
    Morbi venenatis nulla sit amet sem tristique, nec lobortis nisl pulvinar.
    Maecenas in sollicitudin nunc, non porttitor urna. Praesent vel urna dapibus, tincidunt nisl id, ultrices diam.
    Donec finibus fermentum tortor, ut tempor dui aliquet eget.
  </p>
</article>
