<div class="container" *ngIf="project">
  <h2>{{title}}</h2>

  <div class="message success" *ngIf="status == 'success'">
    El proyecto se ha creado correctamente, puedes <a [routerLink]="['/proyecto',save_project._id]">verlo aqui :D</a>
  </div>

  <div class="message failed" *ngIf="status == 'failed'">
    El proyecto se ha creado NO correctamente, hay que checarlo
  </div>

  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <p>
      <label for="name">Nombre: </label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>
      <span *ngIf="name.touched && !name.valid" class="form_error">El nombre es obligatorio.</span>
    </p>
    <p>
      <label for="name">Descripcion: </label>
      <textarea type="text" name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
      <span *ngIf="description.touched && !description.valid" class="form_error"class="form_error">La descripcion es obligatoria.</span>
    </p>
    <p>
      <label for="name">Categoria: </label>
      <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required/>
      <span *ngIf="category.touched && !category.valid" class="form_error">La categoria es obligatoria.</span>
    </p>
    <p>
      <label for="name">Año de lanzamiento: </label>
      <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year"/>
    </p>
    <p>
      <label for="name">Lenguajes utilizados: </label>
      <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required/>
      <span *ngIf="langs.touched && !langs.valid" class="form_error">Favor de poner los lenguajes utilizados.</span>
    </p>
    <p>
      <label for="name">Imagen: </label>
      <span class="image" *ngIf="project.image" style="
      float: none;">
        <!-- Si se llamara al endpoint que requerimos siempre poner ( {{}} ) -->
        <img src="{{url+'get-image/'+project.image}}" style="width: 100px;">
      </span><br/>
      <input type="file" name="image" placeholder="Sube una imagen" (change)="fileChangeEvent($event)"/>
    </p>

    <input type="submit"
    [disabled]="!projectForm.form.valid" value="Enviar">
  </form>
</div>

<!--
#image="ngModel" [(ngModel)]="project.image" -->
