/*Fuentes importadas*/
/*Fuentes importadas*/
@font-face {
  font-family: "yanone" ;
  src: url("fonts/yanone.ttf");
}
@font-face {
  font-family: "finger" ;
  src: url("fonts/finger.ttf");
}
@font-face{
  font-family: "Imperial";
  src: url("fonts/Imperial.ttf");
}


/*Generales*/
*{
  margin: 0px;
  padding: 0px;
}
/*Generales*/
*{
  margin: 0px;
  padding: 0px;
}

body{
  /* font-family: "Imperial", Arial, Helvetica; */
  font-family: "yanone", Arial, Helvetica;
  font-size: 20px;
  background: url("../img/pattern.png");
  background-attachment: fixed;
}

.clearfix{
  float: none;
  clear: none;
}

/*Barra de navegacion / Y la cabezera*/
header{
  display: block;
  width: 100%;
  height: 90px;
  background: rgb(45, 15, 80,0.8);
  position: fixed; /*Fixed: deja el elemento fijo y ala vez a la par del tamaño de la pantalla para que no haya un problema de diseño*/
  text-transform: uppercase;
}

header ul{
  display: block;
  width: 42%;
  height: inherit;
  margin: 0px auto;
  margin-top: -1px;
}

header ul li{
  display: inline-block;
  width: 0px auto;
  text-align: center;
  line-height: 88px;
}

header a{
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: white;
  transition: all 300ms;
}

header a:hover,
.actived{
  background: rgba(0, 0, 0, 0.8);
}

/*Logotipo*/
#logo{
  font-family: "Imperial", Arial, Helvetica;
  font-size: 30px;
}

#logo a{
 transition: color 500ms, transform 500ms;
}

#logo a:hover{
  background: transparent;
  color: black;
  transform: scale(1.50,1.50);
}

/*Contenedor principal-Espacio principal*/
#content{
  min-height: 500PX;
  padding-top: 120PX;
  width: 85%;
  margin: 0px auto;
  box-shadow: 0px 0px 40px black;
  background: rgba(255, 255, 255, 0.7);
  border-left:1px solid #b7b7b7 ;
  border-right:1px solid #b7b7b7 ;
}

/*Footer*/
footer{
  width: 85%;
  margin: 0px auto;
  padding-top: 15px;
  color: rgb(0,0,0,0.5);
}


/*Componente Sobremi / Aboutme - Estilos*/
#title{
  width: 70%;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
#title h1{
  font-family: "Imperial";
  font-size: 60px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
#title h2{
  font-size: 25px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}


/*Articulo*/
article.about{
  width: 900px;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}
.about h2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.about p {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: justify;
}

/*Seccion - Creacion de proyecto*/
.container{
  padding: 50px;
  padding-top: 10px;
}
.container h2{
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
form{
  width: 80%;
}

form label{
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
/*Esto es darle los estilos a los inputs del formulario*/
form input[type="text"],
form input[type="email"],
form input[type="number"],
form textarea{
  width: 40%;
  padding: 5px;
}
/*Para darle estilo a los botones incluyendo el submit*/
form button,
form input[type="submit"]{
  font-size: 17px;
  padding: 10px;
  display: block;
  margin-top: 15px;
  color: white;
  background: rgb(45, 15, 80,1);
  border: 1px solid rgb(45, 15, 80,1); /*Se puede usar igual el metodo rgb en border*/
  cursor: pointer;
}
form button:hover,
form input[type="submit"]:hover{
  color: white;
  background: rgb(45, 15, 80,0.8);
  border: 1px solid rgb(45, 15, 80,1); /*Se puede usar igual el metodo rgb en border*/
}
form input[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
/*Para los estilos de los validaciones del formulario*/
.form_error{
  font-size: 15px;
  padding: 5px;
  background: red;
  color: white;
  margin-left: 5px;
}
/*Mensaje en caso de un error en formulario*/
.message{
    width: 50%;
    padding: 5px;
    border: 1px solid #eee;
}
.success{
  background: green;
  color: white;
}
.message a{
  color: white;
}
.failed{
  background: red;
  color: white;
}
