/*Fuentes importadas*/
@font-face {
  font-family: "yanone" ;
  src: url("fonts/yanone.ttf");
}
@font-face {
  font-family: "finger" ;
  src: url("fonts/finger.ttf");
}
@font-face{
  font-family: "Imperial";
  src: url("fonts/Imperial.ttf");
}


/*Generales*/
*{
  margin: 0px;
  padding: 0px;
}

body{
  /* font-family: "Imperial", Arial, Helvetica; */
  font-family: "yanone", Arial, Helvetica;
  font-size: 20px;
  background: url("../img/pattern.png");
  background-attachment: fixed;
}

.clearfix{
  float: none;
  clear: none;
}

/*Barra de navegacion / Y la cabezera*/
header{
  display: block;
  width: 100%;
  height: 90px;
  background: rgb(45, 15, 80,0.8);
  position: fixed; /*Fixed: deja el elemento fijo y ala vez a la par del tamaño de la pantalla para que no haya un problema de diseño*/
  text-transform: uppercase;
}

header ul{
  display: block;
  width: 39%;
  height: inherit;
  margin: 0px auto;
  margin-top: -1px;
}

header ul li{
  display: inline-block;
  width: 0px auto;
  text-align: center;
  line-height: 88px;
}

header a{
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  height: inherit;
  text-decoration: none;
  color: white;
  transition: all 300ms;
}

header a:hover{
  background: rgba(0, 0, 0, 0.8);
}

/*Logotipo*/
#logo{
  font-family: "Imperial", Arial, Helvetica;
  font-size: 30px;
}

#logo a{
 transition: color 500ms, transform 500ms;
}

#logo a:hover{
  background: transparent;
  color: black;
  transform: scale(1.50,1.50);
}
